$txt-color: #fff;
footer{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #b38023;
  display: flex!important;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
	.home-wrap{
		width: 100%;
	}
  a{
    color: $txt-color;
    font-size: 20px;
  }
  //span{
  //  position: absolute;
  //  left: 5px;
  //  top: 10px;
  //  display: inline-block;
  //  width: 6.66667vw;
  //  height: 6.66667vw;
  //  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAQAAAD/5HvMAAABrUlEQVR4Ae3VA8xXARhG8Sfbtm3bto05c8xuzJwzxowp15Rt266Pp/r+e3NTeO/W/c0+49EfFgqFQiHacIN7dFEw0J0oAB4rCOhPLBF35Y+BxBHxntbyxijiiXhDc3ljLOYl9eWNGZhn1JQvEjEb84jK/jlLMPcoI18kYTnmJiXki2Ssw1yloHyRnI2Y8+SVL1KzA3OKHPJFWnZjjpBFvsjAQcwhMsgXWTiC2U1a+SIHJzE7SS1f5OU8ZiPJ5YuCXMWsJ5l8UYKbmBUkkS/KcA+zlETyRWUeYeb459TkGWamvNGAl5hx8kZz3hARz2h5owvv+dfu0kq/wgM83NWv8BAP9/QrdOAN/9ptWuvXqMVTzHKSyh/luIvZREr5oxCXMXtIL3/k5DjmCDnkj4zsx1yggPyRmq2Y25SWP5KxGvOYGvJHIuZjXtFUQcAkTBTdFAQMJY6IWAYqCOhFFBHxjFMQ0Io3mNkkkj9qf3O5JEG8nD8K8/ly7A7K5U5gjpBd3oJ/uVvBvJw/ErEgeJebjImiQ9Au90DBQG+iAHhKIgUDLbnDQ/ooFAqFQv+JD7FQUwunTFckAAAAAElFTkSuQmCC);
  //  background-size: contain;
  //}
}